
.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  border-radius: 2px;
  width: 80%;
  max-width: 600px;
  margin: 100px auto 0; /* Centered horizontally with top margin */
  padding: 30px;
  background-color: rgba(13, 70, 94, 0.27);
  backdrop-filter: blur(15px);
}

.flexbox-p {
    font-size: smaller;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* page background */
.background {
  background-image: linear-gradient(to right top, #273d60, #494f77, #6c618d, #9074a1, #b587b3);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
